

.newSchedule
{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: fantasy;

    margin-top: -250px;
}

.days
{
    font-family: fantasy;
    font-size: x-small;
    /* overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    direction: ltr; */
}

.edit-form
{
    text-align: center;
    margin-top: 15px;
}

.hEdit
{
    font-size: large;
    font-family: fantasy;
}

.iEdit
{
    border-radius: 50px;
    height: 25px;
    width: 150px;
    margin-left: 10px;
    border: none;
}

.tEdit
{
    font-size: large;
    font-family: fantasy;
    border: none;
}

.medInput
{
     border-radius: 50px;
     height: 25px;
     width: 150px;
     border: none;
}

.subButton
{
    border-radius: 50px;
    height: 25px;
    width: 100px;
    background-color: white;
    border: none;
}

.cancelButton
{
    border-radius: 50px;
    height: 25px;
    width: 100px;
    background-color: white;
    border: none;
}

.btn
{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: fantasy;
}

.btnTwo
{
    font-family: fantasy; 
}


.button
{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.edit
{
    width: 100px;
    height: 25px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: fantasy;
}

.delete
{
    margin-left: 15px;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: fantasy;
}

.btns
{
    margin-top: 20px;
    text-align: center;
}

.delete:active
{
    transform: scale(.9);
}

.delete:hover
{
    background-color: black;
    color: white;
}

.edit:active
{
    transform: scale(.9);
}

.edit:hover
{
    background-color: black;
    color: white;
}

.cancelButton:hover
{
    background-color: black;
    color: white;
}

.subButton:hover
{
    background-color: black;
    color: white;
}

.cancelButton:active
{
    transform: scale(.9);
}

.cancelButton:active
{
    transform: scale(.9);
}